[package]
name = "photonic-dynamic-runner"

version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
description.workspace = true
homepage.workspace = true
readme.workspace = true
keywords.workspace = true

[[bin]]
name = "photonic"
path = "src/main.rs"

[dependencies]
photonic = { workspace = true }
photonic-dynamic = { workspace = true }
photonic-effects = { version = "0.1.2", path = "../../effects", features = ["dynamic"] }
photonic-output-terminal = { version = "0.1.2", path = "../../output-terminal", features = ["dynamic"] }
photonic-output-null = { version = "0.1.2", path = "../../output-null", features = ["dynamic"] }
photonic-output-split = { version = "0.1.2", path = "../../output-split", features = ["dynamic"] }

anyhow = { workspace = true }
tokio = { workspace = true, features = ["full"] }

serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
serde_dhall = "0.13"
toml = "0.9"
ron = "0.12"

clap = { version = "4.5.4", features = ["derive"] }

[lints]
workspace = true
